<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1><%= newP.name %></h1>
      <h3><%= newP.year %></h3>
    </div>

    <a href="/product/<%=newP._id%>/edit"><button>edit</button></a>
    <br><br><br>
    <form action="/product/<%=newP._id%>/delete?_method=delete" method="post">
      <button type="submit">delete</button>
    </form>
    <br><br><br>
    <a href="/"><button>ALL MOVIES</button></a>
  </body>
</html>
