<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>CREATE NEW MOVIE </h1>

    <form action="/product/new" method="POST">
        <label for="name">name</label>
        <input type="text" name="name" id="name" placeholder="name for the movie" >
        <br><br>
        <label for="year">year</label>
        <input type="number" name="year" id="year"  id="year" placeholder="year for the movie">
        <br><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit">save</button>
    </form>
    <a href="/"><button>
        cancel
    </button></a>
    
</body>
</html>